@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes breathe {
  0%,
  100% {
    transform: translate(-50%, 0) scale(1);
  }
  50% {
    transform: translate(-50%, 0) scale(1.05);
  }
}

.animate-breathe {
  animation: breathe 8s ease-in-out infinite;
}

.DialogContent {
  background-color: white !important;
}
